// team section

.gallery_section {
  background-color: #f7f7f7;

  .heading_container {
    justify-content: center;
    margin-bottom: 15px;

    h2 {
      &::before {
        left: 50%;
        transform: translateX(-50%);
      }
    }
  }

  .box {
    text-align: center;
    @include second-font();

    .img-box {
      position: relative;
      background-color: $primary1;
      border-radius: 30px;
      padding: 35px 0;
      display: flex;
      justify-content: center;
      align-items: center;

      img {
        width: 75%;
      }

    }

    .detail-box {
      margin-top: 15px;

      h6 {
        color: $primary1;
      }
    }
  }

  .carousel-wrap {
    margin: 0 auto;
    padding: 0 5%;
    position: relative;
  }


  .owl-nav>div {
    margin-top: -26px;
    position: absolute;
    top: 50%;
    color: #cdcbcd;
  }

  .owl-carousel .owl-nav .owl-prev,
  .owl-carousel .owl-nav .owl-next {
    width: 50px;
    height: 50px;
    background-color: #dad9d7;
    background-size: 9px;
    background-position: center;
    border-radius: 100%;
    background-repeat: no-repeat;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    outline: none;

    &:hover {
      background-color: $primary1;
    }
  }

  .owl-carousel .owl-nav .owl-prev {
    background-image: url(../images/prev.png);
    left: -10%;

    &:hover {
      background-image: url(../images/prev-white.png);
    }
  }

  .owl-carousel .owl-nav .owl-next {
    right: -10%;
    background-image: url(../images/next.png);

    &:hover {
      background-image: url(../images/next-white.png);
    }

  }

  .owl-carousel .owl-dots.disabled,
  .owl-carousel .owl-nav.disabled {
    display: block;
  }
}


// end team section


